data/cache/*
!data/cache/.gitkeep

data/images/*
!data/images/.gitkeep

tests/cache/*
!tests/cache/.gitkeep

tests/images/*
!tests/images/.gitkeep

# Other ignores
.DS_Store
.gocache
.idea
AGENTS.md
build
config.yaml
fars
specs
temp
test
test.sh